body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #202222;
    color: rgb(47, 45, 45);
    background-image: url(https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg&ga=GA1.1.2116175301.1701129600&semt=ais);
}

a {
    color: rgb(146, 120, 89);
}

a:visited {
    color: blueviolet;
}

img {
    display: block;
    border: solid rgb(30, 28, 28) 3px;
    padding: 4px;
    margin: auto;
    /*centers imagge (with block display)*/
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}

h2 {
    border: dashed black 3px;
    text-align: center;
}

.riz {
    font-family: 'Comic Sans', 'Chiller';
    color: silver;
    font-size: xx-large;
    border: 3px black dotted;
    background-color: blue;
}

.riz:hover {
    text-decoration: line-through;
    font: 300%;
    background-color: black;
    border: solid fuchsia 10px;
}